<div class="row">
  <div class="span4">
    <div class="thumbnail">
      <img src="<%= current_user.profile_image_url %>" style="float: left;margin: 5px;">
      <h3><%= current_user.name %></h3>
      <h4><%= current_user.location %></h4>
      <br>
      <p><%= current_user.description %></p>
    </div>
  </div>
</div>

<div class="row" style="margin-top: 16px;">
  <div class="span4" style="float:left">
	<h1>User Timeline</h1>
  	<table class="table table-striped">
  	  <tr>
  	    <th>Text</th>
  	  </tr>
  	  <% @user_timeline.each do |t| %>
  	   <tr>
  	     <th><%= t.text %></th>
       </tr>
  	  <% end %>
	</table>
  </div>
	<div class="span4" style="float:right">
	<h1>Home Timeline</h1>
  	<table class="table table-striped">
  	  <tr>
  	    <th>User Name</th>
   	    <th>Profile Image</th>
  	    <th>Text</th>
  	  </tr>
  	  <% @home_timeline.each do |t| %>
  	   <tr>
  	     <th><%= t.user.name %></th>
  	     <th><img src="<%= t.user.profile_image_url %>" /></th>
  	     <th><%= t.text %></th>
       </tr>
  	  <% end %>
	</table>
  </div>
</div>

